<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">
		<h2>ブログ</h2>
		<h3 class="blog-title">
			<%= @blog.title %>
		</h3>
		<div class="blog-text">
			<%= @blog.blog_text %>
		</div>

		<ul>
			<p class="blog-date">
			<span><%= @blog.created_at.strftime('%Y/%m/%d') %></span>
			<div class="comment">
				<%= @blog.blog_comments.count %>件コメント
			</div>
			</p>
		</ul>

		<!--コメントフォーム-->
		<%= form_for [@blog, @blog_comment] do |f| %>
		<div class="row">
			<div class="col-sm-12">]
				<%= f.text_area :comment_post, rows:'5', class: "form-control", placeholder:"コメントをここに" %>
			</div>
		</div>
		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>

		<!--コメントフォームここまで-->

	</div>
</div>