<div class="container">
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
	<div class="col-xs-4"></div>
	<div class="col-xs-5">
		<h1 class="sub-title"><%= @user.name %>さんのブログ</h1>
		<br>
		<br>
		<div class="blog-box">
			<span>
				<h3 class="blog-title">
					<%= @blog.title %>
				</h3>
				投稿日：<%= @blog.created_at.strftime('%Y/%m/%d') %>
			</span>
			<br>
			<br>
			<div class="blog-text">
				<%= @blog.body.html_safe %>
			</div>
			</br>

			<ul>

				<p class="blog-date">
					<span>
						<% if @blog.user == current_user %>
						<%= link_to "ブログを編集する", edit_blog_path %>
						<%= link_to "削除", blog_path(@blog.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
					<% end %>
					</span>
				</p>
				<div class="comment">
					<p><%= @blog.comments.count %>件コメント</p>
					<p><%= @blog.impressionist_count %>></p>
				</div>
			</ul>
		</div>

			</p>
		</ul>
	</div>
</div>

<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">
		<h2 class="sub-title">コメント一覧</h2>
			<% if @comments.any? %>
			<table class="table">
				<thead>
					<tr></tr>
					<tr></tr>
					<tr></tr>
				</thead>
				<% @blog.comments.each do |comment| %>
				<tbody>
					<tr>
						<tr>
							<p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %>
							<%= comment.comment_post %></p>
						</tr>
					</tr>

					<span class= "comment-date"><%= comment.created_at.strftime("%Y/%m/%d") %></span>
					<br>
					<br>
				<% end %>
				</tbody>
			</table>
			<% end %>
			</br>

<!--コメント投稿フォーム-->

		</br>

		<% if user_signed_in? %>
			<%= form_for [@blog, @comment] do |f| %>

				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment_post, rows:'5', class: "form-comment-control", placeholder:"コメントをここに" %>
					</div>
				</div>
				<br>
				<br>
				<br>

				<div class="upload-comment-text">
					<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">

<!--コメントフォームここまで-->

		<h5>コメントする際の注意点</h5>
		<p>記事、及びユーザーの誹謗中傷とする内容は禁止です。他のユーザーの迷惑にならないようコメントしてください。</br>
		万が一、不信なコメントを見かけましたら、管理人まで、お問い合わせください。</p>

	</div>
</div>